body {
  font-family: "Montserrat", sans-serif;
  min-width: fit-content;
}
.container {
  /* height: 282px; */
  background-color: white;
}
.header-container {
  width: 900px;
  max-width: 1140px;
  margin: auto;
}
.topDiv {
  height: 90px;
  width: 100%;
  background-color: white;
}
.topDiv-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 30px 60px;
  /* border: 1px solid black; */
  height: 100%;
}
.topDiv-logo-container {
  grid-column: span 2;
  grid-row: span 2;
  place-items: center;
  margin: auto;
}

.image {
  position: relative;
  bottom: 0;
}

.midDiv {
  height: 100vh;
  width: 100%;
  background-color: #00aeef;
}

.topDiv-container > div {
  /* border: 1px solid red; */
}

.topDov-social-and-menu {
  grid-column: span 10;
  align-items: center; /* Center vertically */
  justify-items: center; /* Center horizontally */
}
.top-div-menu {
  grid-column: span 10;
}

.top-Div-social-icons-container {
  padding-top: 4px;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 4px;
  height: 100%;
}
.social-icons {
  display: flex;
  gap: 24px;
  height: 100%;
  align-items: center;
}

.logout-mydashboard {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
  margin-right: 18px;
}
.top-div-main-menu {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.top-div-main-menu-item {
  position: relative;
  list-style-type: none;
  flex-grow: 1;
  text-align: center;
  padding-right: 4px;
  font-size: 14px;
  height: 24px;
}
.top-div-main-menu-item:hover {
  cursor: pointer;
}

.social-icon {
  color: #00aeef; /* Set the desired color */
}
.sub-menu-container {
  transition: all 5s ease-in-out;
  display: none;
  position: absolute;
  width: 549px;
  right: -64px;
  top: 42px;
}
.sub-menu {
  display: flex;
  background-color: white;
  height: 60px;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  padding-bottom: 10px;
  justify-content: center;
  text-align: center;
}
.midDiv-container-items {
  width: calc(25% - 10px);
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  margin: 5px;
}

.midDiv-container-items:nth-child(1),
.midDiv-container-items:nth-child(2),
.midDiv-container-items:nth-child(3) {
  border-right: 2px solid black;
}

.midDiv-close-button {
  display: flex;
  justify-content: center;
  margin-top: -14px;
}
.close-button {
  display: inline-block;
  border: 5px solid white;
  border-radius: 50%; /* This makes it circular  */
  width: 21px;
  height: 25px;
}
.custom-icon {
  color: white; /* Icon text color */
  background: black; /* Icon background color */
  padding: 5px; /* Adjust padding as needed */
  border-radius: 50%; /* Optional: Make the background circular */
}
.top-div-main-menu-item.active {
  border-bottom: 4px solid #08adef;
}

.sub-menu-container.active {
  display: block;
  transition: all 5s ease-in;
}
.nav-link {
  text-decoration: none;
  color: black;
}
